<!doctype html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'style.min.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'bundle.min.js' | asset_url }}" async></script>
          {%- comment -%}Favicon!{%- endcomment -%}
          {% if settings.favicon != blank %}
          <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png"/>
      {% endif %}
   <!-- yotpo -->
      <script type="text/javascript">
        (function e() {
            var e = document.createElement("script");
            e.type = "text/javascript",
            e.async = true,
            e.src = "//staticw2.yotpo.com/sUnimvLjrmNljb4x2eC8Lp5UJNikQuyGNVKTalTh/widget.js";
            var t = document.getElementsByTagName("script")[0];
            t.parentNode.insertBefore(e, t)
        })();
    </script>
</head>
<body>
  {% include "header" %}

  <main role="main">
      <!-- <div class="page-cover"></div> -->
      {{ content_for_layout }}
      {% include "footer" %}
  </main>

    {% comment %}	makes the page fade when mini-cart is open {% endcomment %}
    <div id="no-click"></div>
  {% comment %}	lazy load {% endcomment %}

  {% render 'preorder-now' %}
  {% include 'currencies' %}

  {% if template contains 'product' %}
    {{ "bbplayer.js" | asset_url | script_tag }}
  {% endif %}


  <script>
    {% capture content %}{% include 'quickview' %}{% endcapture %}
    var content = {{ content | json }};
  </script>


<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
</body>
</html>


